title: "Kankakee Community College"
name: "KCC Newsroom"
site_name: Newsroom
timezone: America/Chicago
google-tag_key: GTM-KKZRJB5
url: "https://news.kcc.edu"
public-url: "https://news.kcc.edu"
theme: "kcc-gem-theme"
nav_links:
  - link_text: News
    link_href: 'news'
    button: false
  - link_text: Events
    link_href: 'events'
    button: false
  - link_text: Videos
    link_href: 'videos'
    button: false
  - link_text: Contact
    link_href: '#contact'
    button: false
collections:
  announcements:
    output: false
  contacts:
    output: false
defaults:
- scope:
    type: ''
  values:
    image: "/uploads/kcc_default_post-placeholder.png"
- scope:
    path: ''
    type: drafts
  values:
    image: "/uploads/kcc_default_post-placeholder.png"
- scope:
    path: ''
    type: posts
  values:
    layout: post
    title: ''
    baseurl: ../../../../
    permalink: /:year/:month/:day/:title:output_ext
    image: "/uploads/kcc_default_post-placeholder.png"
permalink: pretty
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
# Delete this comment and place description on this line
baseurl: "" # the subpath of your site, e.g. /blog
# include:
#   - "_pages"
#   - "_posts"

## include future posts? (true or false)
future: false
## Plugins:
#plugins:
#  - rssgenerator
#  - jekyll-feed

# Build settings
markdown: kramdown
kramdown:
  smart_quotes: apos,apos,quot,quot

exclude:
  - "gulpfile.js"
  - "node_modules"
  - "npm-debug.log"
  - "package.json"
  - "package-lock.json"
  - "README.md"
  - "Gemfile"
  - "Gemfile.lock"
  - "gulpconfig.yml"
  - "/docs/"
  - "yarn.lock"
  - "/assets/adobe/"
  - "gulp-tasks/"
  - "install.sh"
  - "siteicon.png"
  - "ARCHIVE_PROCEDURE.md"
  - "TODO.md"
  - "webpack.config.js"

uploads_dir: # specifies the default uploads directory for CloudCannon
  - "uploads/"

_comments:
  layout: Do NOT modify layouts. It may break things.
  baseurl: Do NOT modify baseurl. It WILL break all page links.
  description: "Descriptions are seen by search engines like Google and displayed in search results."
  video_content: Be sure to clear the check-box if your post does not contain a YouTube video.
  video_link: Paste your YouTube share link here. <br>YouTube share links look like "https://youtu.be/RVd1gnq4iOc"
  press_release: Check this box to display the press-release info at the bottom of the post.

_options:
  content:
    format: p h2 h3 h4 h5 h6 pre address div
    bold: true
    italic: true
    underline: true
    subscript: true
    superscript: true
    indent: true
    outdent: true
    image: true
    table: true
    left: align-left
    center: center-this-text
    right: align-right
    removeformat: true
    link: true
    numberedlist: true
    bulletedlist: true
    undo: true
    redo: true
    styles: /assets/css/content.css

_defaults:
  image: "/uploads/kcc_default_post-placeholder.png"
