---
layout: default
homepage: true
baseurl: ''
title: Newsroom
description: ''
---

<section>
  {% for announcement in site.announcements %}
    {% if announcement.display_announcement == true %}
      {% include announcement.html %}
    {% endif %}
  {% endfor %}
</section>
{% include latest-news-widget.html %}
{% include latest-news-modal.html %}
{% include events.html %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 positioning__heading-margin-bottom">
      <h3 class="typography__upcoming-events"><span class="events__bottom-underline">Social Media</span></h3>
    </div>
    <div class="col-lg-6 position__heading-margin-bottom ms-auto">
      {% include social-icons.html %}
    </div>
  </div>
  <div class="row">
    <div class="col positioning__margin-bottom">
      <div class="timeline__wrapper">
        {% include timeline.html %}
      </div>
    </div>
  </div>
</div>
{% include contacts.html %}
