---
layout: default
title: News
baseurl: ../
description: ''
---

<div class="container position__offset-fixed-nav">
  <div class="row">
    <div class="col">
      <section class="news-header__rollup--width mx-auto">
        <h2 class="news-header__heading"><span class="news-header__red-underline">All News
          <span id="todaysDate" class="news-header__date"></span></span>
        </h2>
        <ol id="jsTeaseList" class="news-header__list">

          {% for post in site.posts %}
            {% assign approved_posts = site.posts | where: "post_approved", true %}
          {% endfor %}
          {% for post in approved_posts limit:10 %}
          <!-- If it has a video link in the post -->
          <li class="news-header__list--item">
            <a class="news-header__list--link links__no-underline" href="{{ post.url }}">
              <div class="news-header__list--heading-div">
                <h3 class="news-header__list--heading typography__news-header--list-heading">
                <span class="news-header__list--number">{{ forloop.index }}</span>{{ post.title }}</h3>
                <p class="news-header__excerpt">{{ post.article_lead }}</p>
              </div>
              <div class="news-header__list--img" style="background-image:{% if post.video_link != nil %} url('https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg'){% else %} url('{{ page.baseurl }}{{ post.image }}'){% endif %}">
              </div>
            </a>
          </li>
          {% endfor %}
        </ol>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a style="margin-top: 15px" href="{{ page.baseurl }}archive/" class="btn btn-primary">View older articles</a>
    </div>
  </div>
</div>
