<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
    <allowedServerVariables>
      <add name="CAPTURED_ORIGIN" />
      <add name="RESPONSE_Access-Control-Allow-Origin" />
    </allowedServerVariables>
    <outboundRules>
      <clear />
      <rule name="Set-Access-Control-Allow-Origin for known origins">
        <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern=".+" negate="true" />
        <conditions>
          <add input="{AllowedOrigins:{CAPTURED_ORIGIN}}" pattern=".+" />
        </conditions>
        <action type="Rewrite" value="{C:0}" />
      </rule>
      </outboundRules>
      <rewriteMaps>
        <rewriteMap name="AllowedOrigins">
          <add key="kcc.edu" value="kcc.edu" />
          <add key="www.kcc.edu" value="www.kcc.edu" />
          <add key="localhost:3000" value="localhost:3000" />
          <add key="localhost:4000" value="localhost:4000" />
          <add key="experience-test.elluciancloud.com" value="experience-test.elluciancloud.com" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="Capture Origin Header">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_ORIGIN}" pattern=".+" />
          </conditions>
          <serverVariables>
            <set name="CAPTURED_ORIGIN" value="{C:0}" />
          </serverVariables>
          <action type="None" />
        </rule>
        <rule name="/help Redirect" stopProcessing="true">
          <match url="^help$" />
          <action type="Redirect" url="https://form.jotform.com/81775152814965" redirectType="Permanent"/>
        </rule>
        <rule name="Archived Articles Redirect" stopProcessing="true">
          <match url="(201[89]\/\d{2}\/\d{2}\/)([^\.]+).html" />
          <action type="Redirect" url="https://{HTTP_HOST}/archive/{R:1}{R:2}/" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <!-- full url when responsemode is Redirect -->
      <error statusCode="401" path="/404.html" responseMode="Redirect" />
      <!-- local relative path when responsemode is ExecuteURL -->
      <error statusCode="403" path="/404.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
    <caching enabled="true" enableKernelCache="true">
     <profiles>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".pdf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
     </profiles>
  </caching>
  </system.webServer>
</configuration>
