<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
    <outboundRules>
      <clear />
      <rule name="AddCrossDomainHeader">
        <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_ORIGIN}" pattern="(http(s)?://((.+)?\.kcc\.edu|localhost:[34]000|experience-test\.elluciancloud\.com))" />
          </conditions>
          <action type="Rewrite" value="{C:0}" />
        </rule>
      </outboundRules>
      <rules>
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="/help Redirect" stopProcessing="true">
          <match url="^help$" />
          <action type="Redirect" url="https://form.jotform.com/81775152814965" redirectType="Permanent"/>
        </rule>
        <rule name="Archived Articles Redirect" stopProcessing="true">
          <match url="(201[89]\/\d{2}\/\d{2}\/)([^\.]+).html" />
          <action type="Redirect" url="https://{HTTP_HOST}/archive/{R:1}{R:2}/" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <!-- full url when responsemode is Redirect -->
      <error statusCode="401" path="/404.html" responseMode="Redirect" />
      <!-- local relative path when responsemode is ExecuteURL -->
      <error statusCode="403" path="/404.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
    <caching enabled="true" enableKernelCache="true">
     <profiles>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".pdf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
     </profiles>
  </caching>
  </system.webServer>
</configuration>
