  <!-- Custom CSS Stylesheet for CloudCannon -->
  <link rel="stylesheet" href="{{page.baseurl}}assets/css/content.css">
  <!-- Clarus corp. script -->
  <script async referrerpolicy="no-referrer-when-downgrade" src="https://tag.simpli.fi/sifitag/6089e310-26f9-0136-e8b0-06659b33d47c"></script>
</head>
<body>
{% if page.title == "Newsroom" or page.layout == "post" %}
  {% include scripts/twitter-script.html %}
  {% include scripts/facebook-sdk.html %}
{% endif %}
  <h1 class="sr-only">{% if page.outline_title %}{{ page.outline_title }}{% else %}{{ page.title }}{% endif %}</h1>
