<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{page.title}} - {{site.title}}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- if site.canonical_baseurl %}
    <link rel="canonical" href="{% if page.url == '/' %}{{ site.canonical_baseurl }}{% else %}{{ site.canonical_baseurl }}{{ page.url }}{% endif %}">
    {%- endif %}
    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="{{page.baseurl}}favicon.ico" />
  {% if page.url == '/' %}
    <!-- Preload the news widget images -->
    {% assign current_posts = site.posts | where_exp: "item", "item.expire_date >  site.time" %}
    {% for item in current_posts limit:4 %}
    <link rel="preload" as="image" href="{{ item.image }}">
    {% endfor %}
  {% endif %}
    {% include preconnect.html %}
    {% include social-meta.html %}
