<div class="infographic">
  <img src="{{ page.baseurl }}uploads/background.svg" class="infographic__bg" alt="">
  <img src="{{ page.baseurl }}uploads/kcc_power-of-community_white.svg" class="infographic__logo" alt="Kankakee Community College. The Power of Community">
  <img src="{{ page.baseurl }}uploads/zippia_job-placement.svg" class="infographic__zippia" alt="#1 in job placement for community colleges in Illinois, according to zippia.com">
  <div class="row infographic__row--stats infographic__row--divider">
    <div class="col-md-6 infographic__left">
      <div class="row">
        <div class="col-12 infographic__icon--col">
          <img src="{{ page.baseurl }}uploads/thumbs-up.svg" class="infographic__thumbs-up" alt="">
        </div>
        <div class="col-12">
          <p class="text-center infographic__stat infographic__stat--left">
            <span class="infographic__stat--large">98%</span>&nbsp;of<br>our&nbsp;2019&nbsp;grads<br><span class="infographic__stat--red">would&nbsp;encourage<br>others&nbsp;to&nbsp;attend&nbsp;KCC</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-1 col-md-3"></div>
        <div class="col-5">
          <img src="{{ page.baseurl }}uploads/ratio.svg" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-4 mt-auto">
          <p class="text-center infographic__stat">
            <span class="infographic__stat--large">13:1</span><br>Student&nbsp;to<br>Faculty&nbsp;ratio
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row infographic__row--divider">
    <div class="col-md-5 col-lg-4 mb-5 text-center">
      <img src="{{ page.baseurl }}uploads/certified.svg" alt="" class="img-fluid infographic__badge">
    </div>
    <div class="col-md-7 col-lg-8 d-flex flex-column justify-content-center">
      <h3 class="infographic__heading--red">Prepare for certification or to earn a credential after completion:</h3>
      <ul>
        <li>Electrical Engineering Technology</li>
        <li>Child Development</li>
        <li>Manufacturing Technology</li>
        <li>Medical Laboritory Technology</li>
        <li>Nursing&nbsp;&bull;&nbsp;Paramedic&nbsp;&bull;&nbsp;Radiography</li>
        <li>Resperatory Therapist</li>
        <li>Solar-Photovoltaic&nbsp;&bull;&nbsp;Welding</li>
      </ul>
    </div>
  </div>
  <div class="row infographic__row--divider">
    <div class="col-8">
      <img src="{{ page.baseurl }}uploads/top-20.svg" class="img-fluid" alt="">
    </div>
    <div class="col-4 d-flex flex-column justify-content-start">
      <img src="{{ page.baseurl }}uploads/trophy.svg" class="img-fluid infographic__trophy" alt="">
    </div>
    <div class="col-12 text-center">
      <h4 class="infographic__typography--italic-heading"><span class="sr-only">KCC ranks in the top 20%</span>Among U.S. community colleges for...</h4>
    </div>
    <div class="d-none d-md-block col-md-1"></div>
    <div class="col-md-5">
      <h3 class="infographic__heading--red">Student satisfaction areas</h3>
      <ul>
        <li>Academic advising/Counseling</li>
        <li>Admissions and Financial Aid&nbsp;&bull;&nbsp;Student centeredness</li>
        <li>Service excellence&nbsp;&bull;&nbsp;Registration effectiveness</li>
        <li>Safety and security&nbsp;&bull;&nbsp;Academic Services</li>
        <li>Responsiveness to diverse polpulations</li>
      </ul>
    </div>
    <div class="col-md-5">
      <h3 class="infographic__heading--red">Other areas</h3>
      <ul>
        <li>Rating of college experience met expectations</li>
        <li>Students completing and receiving passing grades in distance learning classes</li>
        <li>Fist-time, full-time students who completed or transferred within 3 years</li>
        <li>Part-time students who completed within 3 years</li>
      </ul>
    </div>
    <div class="d-none d-md-block col-md-1"></div>
  </div>
</div>
