<header class="container-fluid news-header">
  <div class="row">
    {% for post in site.posts %}
      {% assign approved_posts = site.posts | where: "post_approved", true %}
    {% endfor %}
    <div id="newsHeaderPreviewCol" class="col-xl-8 news-header__preview-col">
    {% for post in approved_posts limit: 4 %}
      {% if post.expire_date == nil or post.expire_date > site.time %}
      <a id="preview{{ forloop.index }}" data-toggle="modal" {% if post.video_link != nil %}data-video="https://www.youtube.com/embed/{{ post.video_link | remove: "https://youtu.be/" }}" {% endif %}class="news-header__preview--link links__news-header--hover newsHeader-preview-link height__100{% if post.video_link != nil %} newsHeader-video-link{% endif %}{% if forloop.first == true %} newsHeader-link-active{% endif %}" data-target="#modal{{ forloop.index }}" href="#" tabindex="-1" aria-hidden="{% if forloop.first == true %}false{% else %}true{% endif %}">
        <div class="row height__100">
          <div class="col-md-7 col-xxl-8 order-1 order-md-2 news-header__img-col">
          {% if post.video_link != nil %}
            <div class="news-header__img-wrapper height__100 text-right">
              <img src="{{ page.baseurl }}assets/img/play.svg" alt="" class="news-header__play-icon{% if forloop.first == true %} news-header__play-icon--first{% endif %}">
              <img class="img__full-width news-header__img{% if forloop.first == true %} news-header__img--first{% endif %}" {% if forloop.first == false %}src="{{ page.baseurl }}assets/img/kcc-placeholder.png" data-{% endif %}src="https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg" alt="">
            </div>
          {% else %}
            <div class="news-header__img-wrapper height__100 text-right">
              <img class="img__full-width news-header__img{% if forloop.first == true %} news-header__img--first{% endif %}" {% if forloop.first == false %}src="{{ page.baseurl }}assets/img/kcc-placeholder.png" data-{% endif %}src="{{ page.baseurl }}{{ post.image }}" alt="">
            </div>
          {% endif %}
          </div>
          <div class="col-md-5 col-xxl-4 order-2 order-md-1 news-header__info-col">
          <div class="news-header__info--wrapper">
            <span class="news-header__title typography__news-header--title{% if forloop.first == true %} news-header__title--first{% endif %}">{{ post.title }}</span>
            <h4 class="typography__news-header--lead news-header__lead{% if forloop.first == true %} news-header__lead--first{% endif %}">{{ post.article_lead }}</h4>
          </div>
        </div>
      </div>
      </a>
      {% endif %}
    {% endfor %}
    </div>
    <div class="col-xl-4">
      <h2 class="news-header__heading typography__news-header">
        <span class="news-header__red-underline">Latest News
          <span id="todaysDate" class="typography__news-header--gray"></span>
        </span>
      </h2>
      <ol class="news-header__list">
        {% for post in approved_posts limit: 4 %}
          {% if post.expire_date == nil or post.expire_date > site.time %}
              {% if post.video_link != nil %}
              <!-- If it has a video link in the post -->
              <li class="news-header__list--item">
                <a data-toggle="modal" {% if post.video_link != nil %}data-video="https://www.youtube.com/embed/{{ post.video_link | remove: "https://youtu.be/" }}" {% endif %}class="news-header__list--link links__no-underline{% if forloop.first == true %} news-header__active{% endif %}{% if post.video_link != nil %} newsHeader-video-link{% endif %} newsHeader-list-link" href="#" data-target="#modal{{ forloop.index }}" data-preview="preview{{ forloop.index }}">
                  <div class="news-header__list--heading-div">
                    <h3 class="news-header__list--heading typography__news-header--list-heading">
                    <span class="news-header__list--number">{{ forloop.index }}</span>{{ post.title }}</h3>
                    <p class="news-header__excerpt">{{ post.article_lead }}</p>
                  </div>
                  <div class="news-header__list--img" style="background-image: url('https://img.youtube.com/vi/{{  post.video_link | remove: "https://youtu.be/" }}/hqdefault.jpg')">
                  </div>
                </a>
              </li>
              {% else %}
              <!-- If the video link is blank/nil -->
              <li class="news-header__list--item">
                <a data-toggle="modal" class="news-header__list--link links__no-underline{% if forloop.first == true %} news-header__active{% endif %} newsHeader-list-link" href="#modal{{ forloop.index }}" data-preview="preview{{ forloop.index }}">
                  <div class="news-header__list--heading-div">
                    <h3 class="news-header__list--heading typography__news-header--list-heading">
                    <span class="news-header__list--number">{{ forloop.index }}</span>{{ post.title }}</h3>
                    <p class="news-header__excerpt">{{ post.article_lead }}</p>
                  </div>
                  <div class="news-header__list--img" style="background-image: url('{{ page.baseurl }}{{ post.image }}')">
                  </div>
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ol>
      <div class="text-center">
        <a href="{{ page.baseurl }}news/" class="btn btn-primary buttons__btn-margin-top">View All News</a>
      </div>
    </div>
  </div>
</header>
{% include news-header-modals.html %}
