.archive__post-meta {
  color: $grey-1;
  overflow: hidden;
  margin: 0;
}

.archive__link-item {
  text-decoration: none;
  &:visited {
    color: $color-archive-visited;
  }
}

.archive__list {
  list-style-type: none;
}

.archive__header--height {
  min-height: 80vh;
}

.archive__img--wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40vh;
}