// IF YOU THINK THIS IS JUST AN ORPHAN SASS FILE...DON'T DELETE IT!!
// This is the source file for the styling of the infographich news release based off of 'slim-jim add'.

.infographic {
  height: auto;
  position: relative;
  width: 100%;
}

.infographic__bg {
  height: auto;
  width: 100%;
  position: absolute;
}

.infographic__logo {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  opacity: .9999; // NEEDED B/C OF WEIRD CSS ABSOLUTE-POSITION/Z-INDEX/OPACITY QUIRK W/ `.infographic__bg` (look it up on css-tricks!)
}

.infographic__zippia {
  width: 50%;
  margin-left: 25%;
  margin-right:  25%;
  position: relative;
  top: -.5rem;
}

.infographic__row--stats {
  position: relative;
  top: -1.5rem;
}

.infographic__row--divider::after {
  background-color: #b5def1;
  content: " ";
  display: block;
  height: 3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.infographic__stat {
  color: #0f3b63;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: .025rem;
  line-height: 1.2;
}

.infographic__stat--large {
  color: #c61f48;
  font-size: 3.5rem;
  letter-spacing: .05rem;
}

.infographic__stat--red {
  color: #c61f48;
  font-size: 1.5rem;
  //font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .025rem;
  line-height: 1.1;
}

.infographic__stat--red-larger {
  font-size: 2.5rem;
}

.infographic__stat--med {
  font-size: 2rem;
}

.infographic__stat--black {
  color: #000000;
  font-weight: 400;
}

.infographic__stat--black strong {
  font-weight: 600;
}

.infographic__thumbs-up {
  width: 100px;
  height: 100px;
  position: relative;
  left: -1rem;
}

.infographic__icon--col {
  position: absolute;
  right: 1rem;
  top: 0;
}

.infographic__heading--red {
  font-family: 'Roboto', sans-serif;
  color: #c61f48;
  font-weight: 600;
  font-size: 1.4rem;
}

.infographic__badge {
  width: 75%;
}

@media screen and (min-width: 768px) {
  .infographic__badge {
    width: auto;
  }
}

.infographic__trophy {
  position: relative;
  transform: scale(1.25);
  top: -20px;
}

@media screen and (min-width: 768px) {
  .infographic__trophy {
    transform: scale(1);
    top: -40px;
  }
}

@media screen and (min-width: 992px) {
  .infographic__trophy {
    top: -60px;
  }
}

.infographic__typography--italic-heading {
  color: #0f3b63;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .infographic__typography--italic-heading {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .infographic__typography--italic-heading {
    font-size: 3rem;
    position: relative;
    top: -2rem;
  }
}

@media screen and (min-width: 992px) {
  .infographic__typography--italic-heading {
    font-size: 4rem;
  }
}

.infographic__btn {
  border-radius: .85rem;
  padding-bottom: .0125rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .0125rem;
  min-width: 280px;
  &--blue {
    background-color: #0f3b63;
    &:hover {
      background-color: #0a1b2e;
    }
    &:focus {
      background-color: #0a1b2e;
    }
  }
  &--red {
    background-color: #c61f48;
    &:hover {
      background-color: #911735;
    }
    &:focus {
      background-color: #911735;
    }
  }
  &--orange {
    background-color: #f99e1b;
    &:hover {
      background-color: #966011;
    }
    &:focus {
      background-color: #966011;
    }
  }
  &--typography {
    font-size: 1.25rem;
    letter-spacing: .75px;
  }
}

.infographic__list {
  list-style-type: none;
  padding-inline-start: 0;
  &--item {
    padding-bottom: .25rem;
    padding-top: .25rem;
  }
}

.infographic__quote {
  color: #000000;
}

.infographic__internet {
  width: 75px;
}

.infographic__chat-bubble {
  filter: drop-shadow(6px 8px 5px rgba(0,0,0,.5));
  max-width: 280px;
  position: relative;
  top: -1rem;
}

@media screen and (min-width: 576px) {
  .infographic__chat-bubble {
    top: -2rem;
  }
}

.infographic__list--arrows {
  list-style-type: none;
  & li:before {
    background-image: url('/uploads/infographic_list-disc.svg');
    background-position: center;
    background-repeat: no-repeat;
    content: ' ';
    display: inline-block;
    height: 1.5rem;
    vertical-align: text-bottom;
    width: 1.5rem;
  }
}

.infographic__sources {
  font-size: .9rem;
}
