// Header styles
// ==========================================
@import './news-header-animations';

.news-header__rollup--width {
  width: 95%;
}

@media screen and (min-width: 576px) {
  .news-header__rollup--width {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .news-header__rollup--width {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .news-header__rollup--width {
    width: 60%;
  }
}

@media screen and (min-width:1200px) {
  .news-header__rollup--width {
    width: 50%;
  }
}

.news-header {
  margin-bottom: 2rem;
  max-width: 1400px;
}

.news-header__background--black {
  background-color: $black;
}

.news-header__img-col {
  overflow: hidden;
}

.news-header__img-wrapper {
  background-color: $black;
  overflow: hidden;
}


@media screen and (min-width: 768px) {
  .news-header__img-col {
    padding-left: 0;
    padding-right: 0;
  }
  .news-header__info-col {
    padding-left: 0;
    padding-right: 10px;
  }
}

.news-header__img {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1200px) {
  .news-header__img {
    position: absolute;
  }
}


.news-header__play-icon {
  height: 56px;
  left: 50%;
  margin-left: -28px;  // half the width of this icon (to center it)
  margin-top: -28px;  // half the width of this icon (to center it)
  opacity: 0;
  position: absolute;
  top: 50%;
  transition-duration: .5s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
  width: 56px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .news-header__info-col {
    background-color: $black;
  }
}

.news-header__info--wrapper {
  background-color: $black;
}

@media screen and (min-width: 768px) {
  .news-header__info--wrapper {
    bottom: .5rem;
    left: 1rem;
    right: 1rem;
    position: absolute;
  }
}

.news-header__preview--link {
  display: none;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.news-header__preview--link.newsHeader-link-active {
  display: block;
}

.news-header__heading {
  background: #fff;
  border-bottom: none;
  color: $primary-blue;
  display: none;
  font-family: $font-family-paragraph;
  font-size: 2.2rem;
  font-weight: $font-weight-bold;
  left: 0;
  line-height: 1;
  margin-bottom: .5rem;
  margin-top: 0;
  padding-bottom: 15px;
  padding-top: .25rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}

@media (min-width:1200px) {
  .news-header__heading {
    position: static;
    display: block;
  }
}

@media screen and (min-width: 1600px) {
  .news-header__heading {
    font-size: 2.4rem;
  }
}

.news-header__red-underline {
  border-bottom-color: $primary-red;
  border-bottom-style: solid;
  border-bottom-width: thick;
}

.news-header__date {
  color: #ddd;
}


.news-header__list {
  list-style: none;
  margin-bottom: 0;
  padding-top: 2px;
  padding-left: 0;
}

@media (min-width:576px) and (max-width:1200px) {
  .news-header__list {
    display: flex;
    flex-wrap: wrap;
  }
  .news-header__list--item {
    margin-left: auto;
    margin-right: auto;
  }
}

//  ???
//  NEEDED???
//  =================================== ???
@media (min-width:992px) {
  .news-header__list {
    padding-top: 0;
  }
}
//  =================================== ???

.news-header__list--item {
  padding-left: 7px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  position: relative;
  width: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    display: none;
  }

}

@media (min-width:768px) {
  .news-header__list--item:first-child {
    display: block;
  }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
  .news-header__list--item {
    max-width: 48%;
  }
}

@media (min-width:980px) {
  .news-header__list--item {
    padding-left: 0;
  }
}

@media (min-width:1281px) {
  .news-header__list--item {
    padding-bottom: 18px;
    padding-top: 18px;
  }
}

@media (min-width:1600px) {
  .news-header__list--item {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.news-header__list--link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  line-height: 1;
}

.news-header__list--number {
  background-color: $primary-blue;
  border-radius: 13px;
  box-shadow: 0 0 0 1.4px #000 inset;
  color: #fff;
  display: block;
  float: left;
  font-family: akkurat, sans-serif;
  font-size: 11px;
  font-weight: 700;
  height: 26px;
  letter-spacing: 0;
  line-height: 1;
  margin: -1px 7px 0 -2px;
  min-width: 26px;
  padding: 8px 4px 0;
  text-align: center;
  transition: all .2s ease;
}

.news-header__list--item:hover .news-header__list--number,
.news-header__list--item:focus .news-header__list--number {
  color: $primary-red;
  background-color: #fff;
  box-shadow: 0 0 0 1.4px $primary-red inset;
}

.news-header__list--item:hover .typography__news-header--list-heading,
.news-header__list--item:focus .typography__news-header--list-heading {
  color: $primary-red;
}

.new-header__list--link:focus {
  outline:none;
}

.latest-news-widget__feature:hover {
  text-decoration: none;
}

.new-header__list--link:hover {
  text-decoration: none;
}

.news-header__list--heading-div {
  max-width: 320px;
  float: left;
}

.news-header__list--heading {
  align-items: center;
  display: flex;
  margin-bottom: .4em;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.news-header__excerpt {
  display: inline;
  margin-bottom: 0;
  line-height: 1.25
}

.news-header__list--img {
  line-height: 0
}

.news-header__list--img {
  background-size: cover;
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5px;
  margin-top: 0;
  min-width: 50px;
  min-height: 50px;
  float: right;
  border-radius: 50%;
}

@media (min-width: 450px) {
  .news-header__list--img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px
  }
}

@media (min-width: 1700px) {
  .news-header__list--img {
    margin-right: 10px
  }
}
