/* Custom style sheet for providing custom styles in CloudCannon  */

/* MUST BE 100% UNCOMPRESSED CSS AKA EXPANDED
   EACH CLASS MUST HAVE 1 ELEMENT IT APPLIES TO */

img.float-image-left {
  height: auto;
  float: left;
  max-width: 100%;
  padding-right: .5rem;
}

img.float-image-right {
  height: auto;
  float: right;
  max-width: 100%;
  padding-left: .5rem;
}

img.no-float {
  float: none;
}

img.center-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  text-align: center;
}

h2.h2 {
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

h3.h3 {
  color: #0f3b63;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}

h4.h4 {
  color: #c61f48;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

h5.h5 {
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h6.h6 {
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}