---
layout: default
---

<main>
  <div class="container">
    <div class="row">
      <div class="col post__content">
        <h3 class="typography__h3">{{ page.title }}</h3>
        <p><strong>Posted On: {{ page.date | date: "%m/%d/%y" }}</strong></p>

        {% if page.video_link and page.video_link != '' %}
          <div class="text-center">
            <div class="positioning__iframe-wrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video_link | remove: "https://youtu.be/" }}?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        {% endif %}
        <div class="editable">
          {{ content }}
        </div>
        <div class="fb-like" data-href="{{ page.url }}" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
        <a class="twitter-share-button" data-text="Newsroom - KCC | {{ page.title }} via @KCCedu" data-url="{{ site.url }}{{ page.url }}" data-size="large" href="https://twitter.com/intent/tweet">Tweet</a>
        {% if page.video_link and page.video_link != '' %}
          <br>
          <div class="mt-3">
            <a class="btn btn-danger buttons__custom-danger" href="https://www.youtube.com/channel/UCpolj7IezPpI0zv6tFcmEJw?sub_confirmation=1" target="_blank" rel="noopener"><img src="{{ page.baseurl }}assets/img/youtube-white.svg" class="buttons__yt-subscribe" alt="">&nbsp;Subscribe</a>&nbsp;<a class="btn btn-primary" href="https://www.youtube.com/playlist?list=PLEnNvZd4X-lVFQK8Ke8jkpr7NvdTSI5W9" target="_blank" rel="noopener">More Newsroom Videos</a>
          </div>
        {% endif %}
        {% if page.press_release == true %}
        <div class="editor-block">
          <a class="btn btn-success editor-button" href="cloudcannon:collections/_press_release/press-realease.md">Edit Press Release Message</a>
        </div>
          <div class="positioning__margin-top">
            {% for item in site.press_release limit: 1 %}
            {{ content }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
